.tweetContainer{
    display: grid;
    grid-template-columns: auto 1rf;
    grid-template-areas: 'avatar user' 'avatar text';
    gap: 4px 16px;
}
.avatar{
    grid-area: avatar;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user{
    grid-area: user;
}
.userName{
    font-weight: bold;
    color: var(--primary_Text);
}
.userUserName{
    color: var(--secondary_Text);
}
.tweettext{
    grid-area: text;
    color: var(--primary_Text);
}